*
{
  margin:0px;
  padding:0px;
}

header{
  width:100%;
  padding-top: 20px;
  background-color: #ecbfff;
  font-family: 'Lucida Calligraphy', cursive;
}
.heading{
  color:#fd5da8;
  text-transform:lowercase;
  font-size:20px;
  padding-bottom:20px;
  letter-spacing:5px;
}

.heading h1{
  text-align: center;
}

.nav-bar{
  display:flex;
  justify-content: space-around;
  list-style:none;
  background-color: #dda0dd;
  padding-top: 20px;
  padding-bottom: 5px;
}

.nav-bar a{
  color: #461257;
  font-size: 15px;
}

.nav-bar .active{
  color:#ff007f;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoraiton: underline;
}
a:active{
  text-decoration: none;
}

.subheading{
  text-align:center;
  color:#b399d;
  background-color:pink;
}

.background{
  background-color:#b399d;
}

footer
{
  color: #ff007f;
  text-align:center;
  background-color:#ecbfff;
  font-size:15px;
  bottom:0;
  position:fixed;
  width:100%;
}

.homepage{
  text-align:center;
}
body{
  background-color:pink;
}

.body{
  text-align:center;
  background-color:pink;
}

.bodyhk{
  background-color:pink;
  text-align:center;
}

.bodycm{
  background-color:pink;
}

img{
  text-align:center;
  border-radius: 10px;
}

table{
  text-align:center;
}

.content{
  text-align:center;
}

td{
  text-align:center;
}

form{
  background-color: pink;
  display: inline-block;
}
